main{
    display: flex;

    max-width: 1920px;
    height: 1080px;

    background-image: url(../assets/img/espaço.avif);
    background-repeat: no-repeat;
    background-size:  1920px 1080px;

    justify-content: center;
    align-items: center;

    position: relative;
}

section{
    display: flex;

    height: 80vh;
    width: 80vh;

    animation: section;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: normal;

    position: relative;
}

sol{
    display: flex;

    height: 40vh;
    width: 40vh;

    background: linear-gradient(-45deg, yellow, 20%, orange, 90%, red);

    border-radius: 50%;

    animation: sol;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    position: absolute;

    right: 25%;
    bottom: 25%;
}

terra{
    display: flex;

    height: 20vh;
    width: 20vh;

    background-image: url(../assets/img/terra.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;

    border-radius: 50%;

    animation: terra;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: normal;

    position: relative;

    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px 1px blue
}

lua{
    display: flex;

    height: 7vh;
    width: 7vh;

    background-image: url(../assets/img/lua.png);
    background-repeat: no-repeat;
    background-size: 100%;

    border-radius: 50%;

    animation: lua;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

lua1{
    display: flex;

    height: 40vh;
    width: 20vh;

    animation: lua1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;

    justify-content: center;

    position: fixed;
}

@media (max-width: 320px) {
    main{
        width: 320px;
        height: 480px;

        background-size: 320px 480px;
    }

    sol{ 
        height: 100px;
        width: 100px;
    }
    section{
        height: 200px;
        width: 200px;
    }

    terra{
        height: 50px;
        width: 50px;

        justify-content: center;
        align-items: center;
    }

    lua1{
        height: 100px;
        width: 100px;
    }

    lua{
        height: 25px;
        width: 25px;
    }
}